@model System.Linq.IQueryable<IdentityRole>

@{
    ViewBag.Title = "Create Role";
}

<h1 class="mt-4 mb-4">All Roles</h1>



@if(Model.Any())
{
    <a class="btn btn-primary m-1" asp-controller="Administration" asp-action="CreateRole"
    style="width: auto;">Add New Role</a>

    foreach (var role in Model)
    {
       <div class="card mt-2 mb-2">
           <div class="card-header">
               Role ID: @role.Id
           </div>
           <div class="card-body">
               @role.Name
           </div>
           <div class="card-footer">
               <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <a class="btn btn-primary" asp-action="EditRole" 
                    asp-controller="Administration" asp-route-id="@role.Id">Edit</a>

                    <span id="confirmDeleteSpan_@role.Id" style="display: none;">
                        <span>Are you you want to delete?</span>
                        <button type="submit" class="btn btn-primary" >Yes</button>
                        <a href="#" class="btn btn-danger"
                        onclick="confirmDelete('@role.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger" 
                        onclick="confirmDelete('@role.Id', true)">Delete</a>
                    </span>
               </form>
               
           </div>
       </div>
    }
}
else
{
    <div class="card mt-2 mb-2">
           <div class="card-header">
               No roles created yet!
           </div>
           <div class="card-body">
               Use the button below to create a role
           </div>
           <div class="card-footer">
               <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole"
    style="width: auto;">Add New Role</a>
           </div>
       </div>
}

@section Scripts{
     <script src="~/js/CustomScript.js"></script>
 }


